@model kodimax.Models.TICKETCANDY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TICKETCANDY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.candy.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.candy.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TIKET_CANDY }) |
    @Html.ActionLink("Back to List", "Index")
</p>
