@model IEnumerable<kodimax.Models.TICKETCANDY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.candy.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.candy.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TIKET_CANDY }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TIKET_CANDY }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TIKET_CANDY })
        </td>
    </tr>
}

</table>
