@model IEnumerable<kodimax.Models.MOVIE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGE)
        </th>
        @if (Session["rol"] as string == "administrador" || Session["rol"] as string == "empleado")
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            <img src="@item.IMAGE" alt="img" width="75" height="75"/>
        </td>
        <td>
            @if (Session["rol"] as string == "administrador" || Session["rol"] as string == "empleado")
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_MOVIE });
                @Html.ActionLink("Details", "Details", new { id = item.ID_MOVIE });
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_MOVIE });
            }
        </td>
    </tr>
}

</table>
