@model kodimax.Models.TICKETMOVIE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TICKETMOVIE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sala.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANT_BUTACA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANT_BUTACA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
