@model IEnumerable<kodimax.Models.TICKETMOVIE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_MOVIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SALA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANT_BUTACA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_MOVIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SALA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANT_BUTACA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
