@model kodimax.Models.ROL

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar este rol?</h3>
<div>
    <h4>ROL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_ROL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_ROL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
