@model IEnumerable<kodimax.Models.ROL>

@{
    ViewBag.Title = "Listado de roles";
}

<div class="tile">
	<h2>Listado de Roles</h2>

	<p>
		@Html.ActionLink("Crear nuevo rol", "Create", null, new { @class = "btn btn-success"})
	</p>
	<table class="table" id="sampleTable">
		<tr>
			<th>
				Nombre
			</th>
			<th>
				Descripcion
			</th>
			<th>Acciones</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NOMBRE_ROL)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DESCRIPCION_ROL)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.ID_ROL }, new { @class = "btn btn-warning"}) |
					@Html.ActionLink("Detalles", "Details", new { id = item.ID_ROL }, new { @class = "btn btn-info" }) |
					@Html.ActionLink("Eliminar", "Delete", new { id = item.ID_ROL }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}
	</table>
</div>
